<button (click)="showCats()">
    Cat List
</button>

<button (click)="showDogs()">
    Dog List
</button>

<button (click)="showGreenDogs()">
    Green Dog List
</button>

<button (click)="showFoodDogs()">
    Dog Food List
</button>

<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
    </head>
    <body>
        <div>
            <h2>Cat List</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>isFurry</th>
                        <th>Meows</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cat of cats">
                        <td>{{ cat.id }}</td> 
                        <td>{{ cat.name }}</td> 
                        <td>{{ cat.color }} </td>
                        <td>{{ cat.isFurry }}</td> 
                        <td>{{ cat.meows }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>